.yoyo-back-button {
  --icon-font-size: 16px;
  --icon-padding-start: 2px;

  padding: 0px;
  min-width: 48px;
  min-height: 48px;
  background: #ffffff31;
  backdrop-filter: blur(20px);
  border-radius: var(--yoyo-radius-pill);
  -webkit-border-radius: var(--yoyo-radius-pill);
  -moz-border-radius: var(--yoyo-radius-pill);
  -ms-border-radius: var(--yoyo-radius-pill);
  -o-border-radius: var(--yoyo-radius-pill);
  align-self: center;
  
}
